
h1{
    color:aqua;
    font-family: 'Orbitron', sans-serif;
}

p, h2{
    color:rgb(255, 145, 1);
    list-style: none;
    text-shadow: 1px 1px 2px #000000;
}

li{
    color:rgb(255, 34, 0);
    list-style: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000000;
}

.taille-ecran {
    height: 100vh
}

.heartstone {
    background-image: linear-gradient(rgba(98, 3, 122, 0.3), rgba(252, 117, 25, 0.3), rgba(0, 0, 0, 1)), url("/img/heartstone.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.black-panel {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.50);
    min-height: 600px;
}

.timer-panel {
    border: 4px solid black;
    background-color: rgba(0, 0, 0, 0.75);
}
